<configuration scan="true" scanPeriod=" 5 seconds">
	<jmxConfigurator />
	<appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
		<encoder>
			<pattern>%d{yyyy-MM-dd HH:mm:ss.SSS} [%thread] %-5level %logger{56} - %msg%n
			</pattern>
		</encoder>
	</appender>
	
	<appender name="CANAL-ROOT" class="ch.qos.logback.core.rolling.RollingFileAppender">
		<File>../logs/clave.log</File>
		<rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
			<!-- rollover daily -->
			<fileNamePattern>../logs/%d{yyyy-MM-dd}/clave-%d{yyyy-MM-dd}-%i.log.gz</fileNamePattern>
			<timeBasedFileNamingAndTriggeringPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedFNATP">
				<!-- or whenever the file size reaches 100MB -->
				<maxFileSize>512MB</maxFileSize>
			</timeBasedFileNamingAndTriggeringPolicy>
			<maxHistory>60</maxHistory>
		</rollingPolicy>
		<encoder>
			<pattern>
				%d{yyyy-MM-dd HH:mm:ss.SSS} [%thread] %-5level %logger{56} - %msg%n
			</pattern>
		</encoder>
	</appender>
	
	<appender name="SELECT" class="ch.qos.logback.core.rolling.RollingFileAppender">
		<File>../logs/select.log</File>
		<rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
			<!-- rollover daily -->
			<fileNamePattern>../logs/%d{yyyy-MM-dd}/select-%d{yyyy-MM-dd}-%i.log.gz</fileNamePattern>
			<timeBasedFileNamingAndTriggeringPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedFNATP">
				<!-- or whenever the file size reaches 100MB -->
				<maxFileSize>512MB</maxFileSize>
			</timeBasedFileNamingAndTriggeringPolicy>
			<maxHistory>60</maxHistory>
		</rollingPolicy>
		<encoder>
			<pattern>%msg</pattern>
		</encoder>
	</appender>
	
	<appender name="LOAD" class="ch.qos.logback.core.rolling.RollingFileAppender">
		<File>../logs/load.log</File>
		<rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
			<!-- rollover daily -->
			<fileNamePattern>../logs/%d{yyyy-MM-dd}/load-%d{yyyy-MM-dd}-%i.log.gz</fileNamePattern>
			<timeBasedFileNamingAndTriggeringPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedFNATP">
				<!-- or whenever the file size reaches 100MB -->
				<maxFileSize>512MB</maxFileSize>
			</timeBasedFileNamingAndTriggeringPolicy>
			<maxHistory>60</maxHistory>
		</rollingPolicy>
		<encoder>
			<pattern>%msg</pattern>
		</encoder>
	</appender>
	
	<logger name="com.alibaba.otter.clave.progress.select" additivity="false">  
        <level value="INFO" />  
        <appender-ref ref="SELECT" />
    </logger>
	
    <logger name="com.alibaba.otter.clave.progress.load" additivity="false">  
        <level value="INFO" />  
        <appender-ref ref="LOAD" />
    </logger>
    
	<root level="INFO">
		<!-- 
		<appender-ref ref="STDOUT"/>
		 -->
		<appender-ref ref="CANAL-ROOT" />
	</root>
</configuration>